body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: #f8f8ff;
}

#loginForm.hidden, #loginButtonForm.hidden {
    display: none;
}

#loginButtonForm button {
    width: 100%;
    height: 3em;
}

#loginButtonForm button #visibleUsername {
    font-weight: bold;
}

#loginButtonForm #changeUsername {
    display: block;
    margin-top: 10px;
    font-size: small;
}

#loginForm button {
    display: block;
    width: 50%;
    height: 2em;
    margin: 10px auto 0;
}
