html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#body {
    padding-bottom: 3em; /* footer */
}

#loginLink {
    display: block;
    float: right;
    margin: 10px;
    border: 1px solid #666;
    border-radius: 20px;
    padding: 15px 25px;
    background-color: #f8f8ff;
    font-size: xxx-large;
}

#loginLinkTooltip {
    position: absolute;
    padding: 10px;
    background-color: #fff5ce;
    font-size: large;
}
#loginLinkTooltip.hidden {
    display: none;
}
#loginLinkTooltip.flash {
    animation: ease-in 2s flash;
}
@keyframes flash {
    0%, 100% {
        background-color: #fff5ce;
    }
    50% {
        background-color: #ffd011;
    }
}

#permissionButtonContainer {
    display: block;
    clear: both;
    margin: 50px auto 10px;
    font-size: large;
    text-align: center;
}
#permissionButtonContainer.hidden {
    display: none;
}

#config-form {
    display: block;
    float: left;
    margin: 10px;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 3px;
}

#config-form button {
    float: right;
}

#config-form select,
#config-form label {
    display: block;
    margin: 10px;
}

#result {
    clear: both;
    margin: 0 auto;
    padding: 100px 20px 10px;
    font-size: xxx-large;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background: #faf9f9;
}

footer a {
    display: block;
    margin: 0 15px;
}